# Rust build output
/target/
**/*.rs.bk

# Executables
*.exe
*.dll
*.so
*.dylib

# Debug logs
*.log


# Backup & temp files
*~
*.tmp
*.temp

# macOS / Linux / Windows junk
.DS_Store
Thumbs.db

# Cargo
Cargo.lock
.cargo/

# Nostr DM project test artifacts
.env
keys.txt
launch.json.local
